<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD746IGjtf5-hl-T9sT0tItC3pWl9bE7fU</string>
	<key>GCM_SENDER_ID</key>
	<string>814305692885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ftest</string>
	<key>PROJECT_ID</key>
	<string>my-todo-app-68a4d</string>
	<key>STORAGE_BUCKET</key>
	<string>my-todo-app-68a4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814305692885:ios:45467ded65b868d4a5e65c</string>
</dict>
</plist>